[PLAY]
game=Jak1

[CONFIG]
PCSX_BASE_DIR=R:\Emulators\PCSX\PCSX-DEV
PCSX_USER_GAMES=
PCSX_SHARED_DIR=
PCSX_USER_CONFIGS=
_sharememcards=yes
SHARED_MEMCARDS_FOLDER=
PCSX_CURRENT_BIOS_NAME=something.bin

[MANAGER]
continue=y
ignore=bios
       memcards
