[PLAY]
game=Jak1

[CONFIG]
BASE_DIR=R:\Emulators\PCSX\PCSX-DEV
USER_GAMES=
SHARED_DIR=
USER_CONFIGS=
SHARE_MEMCARDS=yes
SHARED_MEMCARDS_FOLDER=
CURRENT_BIOS_NAME=something.bin

[MANAGER]
continue=y
ignore=bios
       memcards
